@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #e5e5e5;
  --background: #1a1a1a;
  --panel-bg: #222222;
  --panel-border: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
}

select option {
  background: #222;
  color: #e5e5e5;
}
